button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
.success {
  color: green;
}
.failure {
  color: red;
}
#rpsgame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: double;
  padding: 100px;
  background: antiquewhite;
}
.heading {
  font-size: 3rem;
}
#keys {
  margin-bottom: 10px;
  align-self: center;
}
#choiceLabels {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
#resultLabel {
  font-weight: bold;
  font-size: 3rem;
  align-self: center;
  justify-self: center;
  margin-top: 25px;
}
button:hover {
  background-color: hsl(0, 0%, 40%);
}
button:active {
  background-color: hsl(0, 0%, 50%);
}
body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}
